{% extends 'base.html.twig' %}

{% block content %}
<div class="form_content total list">

    {% for flashMessage in app.session.flashbag.get('form') %}
    <div class="flash-notice">
            {{ flashMessage }}
    </div>
    {% endfor %}

    {{ form(form) }}
</div>
{% endblock %}

{% block scripts %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script>
    $(document).ready(function() {
        $('form').validate({
             errorElement: "p"
        });
    });
</script>
{% endblock %}


