
<div style="width: {{ width }}px; height: {{ height }}px;" >
    <ms-video-player 
        id="internacional"
        class="ms-video-player is-live"
        data-media-id="internacional"
        data-cms-id="internacional" 
        data-editorial-id="directo"         
        data-context="final" 
        data-config="{{ path('config_ooyala') }}/internacional" 
        data-poster="{{ asset(player.background) }}" 
        data-popup-enabled="false"
        data-is-live="true"
        data-oo-player-id=""
        data-related-enabled="false"
        data-next-related-autoplay-enabled="false"
        >
    </ms-video-player>  
</div>   
     
